*{
  box-sizing: inherit;
  margin: 0;
  --ancho: 900px;
  --primario: #e8505b;
  --secundario: #455a64;
  --negro: #000;
  --blanco: #ffffff;
  --grisClaro: #eceeef;
  font-family: 'Roboto', sans-serif;
}


.logo{
  max-width: 100%;
  overflow: hidden;
}

.logodiv{
  width: 20rem;
}

header{
  display: flex;
  height: 5rem;
  width: var(--ancho);
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-weight: 600;
}

.nav-lista{
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.botón-reg{
  background-color: var(--primario);
  padding: 0.5rem 1rem;
  color: #fefefe;
  border: none;
  border-radius: 0.5rem;
  font-weight: 800;
}

.link{
  text-decoration: none;
  color: black;
}


.form-y-png{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-inline: auto;
  width: var(--ancho);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.encuentra-y-pide{
  background-color: var(--primario);
  justify-content: space-evenly;
  color: #fefefe;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.searchformitem{
  justify-content: center;
  align-items: center;

}

.forminput{
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0 0.4rem 0;
  box-sizing: border-box;
  font-size: 0.5rem;
}

label{
  font-size: 0.75rem;
}

.formbutton{
  width: 100%;
  border: none;
  background-color: var(--secundario);
  padding: 0.5rem 0;
  color: #fefefe;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;

}

.h2form{
  font-size: 1.65rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #fefefe;
}

.h2como{
  font-size: 1.65rem;
  color: #fefefe;
  text-align: center;
  padding-top: 2rem;
}
.fotorepartidor{
  padding-top: 2rem;
}

.repartidordiv{
  justify-content: center;
}


.cómo-funciona{
  background-color: var(--primario);
}

h3{
  text-align: center;
  color: #fefefe;
  font-size: 0.75rem;
}

.listapasos{
  display: flex;
  width: var(--ancho);
  margin-inline: auto;
  height: 500px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.paso{
  height: 100%;
}

.comoheader{
  margin-bottom: 2rem;
}

.h2test{
  font-size: 1.65rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



.testimoniales{
  width: var(--ancho);
  margin-inline: auto;
}
.testimonios{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.testimonio{
  background-color: var(--secundario);
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fefefe;
  box-sizing: border-box;
}
.testimg{
  width: 100%;
  border-radius: 100%;
}

.testimgdiv{
  flex-basis: 5rem;
}
.encab_test{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.encab_test_aside{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.9rem;
  flex-basis: 8rem;
}

.parr_test{
  padding: 0.85rem 0 0 1.5rem;
  font-size: 0.92rem;
  line-height: 1.5;
}

.teststar{
  max-width: 100%;
}




.griduno{
    grid-column: 1 / 4;
  }

.griddos{
    grid-column: 4;
    grid-row: 1;
  }

.gridtres{
  grid-column: 5;
  grid-row: 1 / 3;
}
.gridcuatro{
  grid-column: 1 / 3;
  grid-row: 2;
}
.gridcinco{
  grid-column: 3 / 5;
  grid-row: 2;
}

.favoritos{
  background-color: var(--grisClaro);
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.h2favo{
  font-size: 1.65rem;
  color: var(--secundario);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.restaurantesgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--ancho);
  margin-inline: auto;
  gap: 2rem;
}

.restaurante{
  display: flex;
  background-color: #fefefe;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 0 1rem 0.1rem #bebebe80;
  border-radius: 0.5rem;
}

.logofav{
  width: 100%;
}
.estrellasfav{
  width: 50%;
}

.h4favo{
  color: var(--primario);
  margin: 0.5rem 0 0.5rem 0;
}

.parrfavo{
  color: var(--secundario);
  font-size: 0.75rem;
  line-height: 1.75;
}

.ganadinero{
  padding-bottom: 2rem;
}

.h2gana{
  text-align: center;
  color: var(--secundario);
  margin: 2rem 0 2rem 0;
  font-size: 1.65rem;
}

.maingana{
  width: var(--ancho);
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.ganaimg{
  width: 100%;
}

.parrgana{
  color: var(--secundario);
  line-height: 1.5;
  font-size: 0.95rem;
}

.ganabutton{
  background-color: var(--primario);
  border: none;
  color: #fefefe;
  padding: 0.5rem 1.35rem;
  font-weight: 700;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 0.95rem;
}


footer{
  background-color: var(--secundario);
}

.footermain{
  width: var(--ancho);
  margin-inline: auto;
  padding: 1rem 0 1.75rem;
  align-items: center;
  color: #fefefe;
  display: flex;
  gap: 1rem;
}

.footer_h2{
  padding: 1rem 0 1rem 0;
}

.footer_p{
  line-height: 1.75;
  font-size: 0.95rem;
}

.footer_lista{
  list-style: none;
  padding: 0;
  line-height: 1.75;
  font-size: 0.95rem;
}

.footerlink{
  text-decoration: none;
  color: #fefefe;
  align-items: start;
}

.derechos_p{
  color: #fefefe;
  text-align: center;
  align-items: center;
  background-color: var(--primario);
  padding: 1rem 0;
  font-size: 0.95rem;
}







/* UTILS */

.f-1{
  flex: 1;
}

.f-3{
  flex: 3;
}

